<form class='{{cssClass}} {{actor.type}} flexcol' autocomplete='off'>


  <div class='sheet-tabs-hex-container'>
    <nav class='sheet-tabs-hex' data-group='primary'>
      <a class='hex-button' data-tab='features'>{{localize 'MY_RPG.SheetLabels.Features'}}</a>
      <a class='hex-button' data-tab='abilities'>{{localize
          'MY_RPG.SheetLabels.AbilitiesAndMods'
        }}</a>
      <a class='hex-button' data-tab='inventory'>{{localize 'MY_RPG.SheetLabels.Inventory'}}</a>
      <a class='hex-button' data-tab='biography'>{{localize 'MY_RPG.SheetLabels.Biography'}}</a>
    </nav>
  </div>

  <div class='sheet-scrollable'>
    <section class='sheet-body'>

      <div class='tab biography' data-group='primary' data-tab='biography'>
        <h1>{{localize 'MY_RPG.SheetLabels.Biography'}}</h1>
        <section class='resources grid grid-6col'>
          <div class='resource flex-group-center'>
            <label>{{localize 'MY_RPG.Biography.Weight'}}</label>
            <input
              type='text'
              class='small-input'
              name='system.biography.weight'
              value='{{system.biography.weight}}'
            />
          </div>
          <div class='resource flex-group-center'>
            <label>{{localize 'MY_RPG.Biography.Height'}}</label>
            <input
              type='text'
              class='small-input'
              name='system.biography.height'
              value='{{system.biography.height}}'
            />
          </div>
          <div class='resource flex-group-center'>
            <label>{{localize 'MY_RPG.Biography.EyeColor'}}</label>
            <input
              type='text'
              class='small-input'
              name='system.biography.eyeColor'
              value='{{system.biography.eyeColor}}'
            />
          </div>
          <div class='resource flex-group-center'>
            <label>{{localize 'MY_RPG.Biography.HairColor'}}</label>
            <input
              type='text'
              class='small-input'
              name='system.biography.hairColor'
              value='{{system.biography.hairColor}}'
            />
          </div>
          <div class='resource flex-group-center'>
            <label>{{localize 'MY_RPG.KeyInfo.Gender'}}</label>
            <input type='text' class='small-input' name='system.gender' value='{{system.gender}}' />
          </div>
          <div class='resource flex-group-center'>
            <label>{{localize 'MY_RPG.KeyInfo.Age'}}</label>
            <input type='text' class='small-input' name='system.age' value='{{system.age}}' />
          </div>
        </section>

        <section class='appearance'>
          <div class='form-group'>
            <label>{{localize 'MY_RPG.Biography.Appearance'}}</label>
            <textarea
              class='rich-editor'
              name='system.biography.appearance'
              rows='5'
            >{{system.biography.appearance}}</textarea>
          </div>
          <div class='form-group'>
            <label>{{localize 'MY_RPG.Biography.Notes'}}</label>
            <textarea class='rich-editor' name='system.biography.notes' rows='8'>{{system.biography.notes}}</textarea>
          </div>
        </section>
      </div>

      <!--         "Features" -->
      <div class='tab features features-tab' data-group='primary' data-tab='features'>

        <div class='sheet-box'>
          <h2>{{localize 'MY_RPG.SheetLabels.KeyInfo'}}</h2>

          <section class='flexrow top-row'>
            <div class='portrait-col'>
              <img class='profile-img' src='{{actor.img}}' data-edit='img' title='{{actor.name}}' />
            </div>

            <div class='attributes-col center-attributes'>
              <table class='attributes-table'>
                <thead>
                  <tr>
                    {{#each system.abilities as |ability key|}}
                      <th
                        class='rollable {{ability.rankClass}}'
                        data-ability='{{key}}'
                        data-label='{{ability.label}}'
                      >{{ability.label}}</th>
                    {{/each}}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {{#each system.abilities as |ability key|}}
                      <td>
                        <input
                          class='{{ability.rankClass}}'
                          type='number'
                          name='system.abilities.{{key}}.value'
                          value='{{ability.value}}'
                          step='1'
                          inputmode='numeric'
                          pattern='\d+'
                        />
                      </td>
                    {{/each}}
                  </tr>
                </tbody>
              </table>
<table class="rank-hint-table attributes-table">
  <tr>
    <th colspan='5'>{{localize 'MY_RPG.RankGradient.Title'}}</th>
  </tr>
  <tr>
    <td class='rank1'>{{rankLabel 1}}</td>
    <td class='rank2'>{{rankLabel 2}}</td>
    <td class='rank3'>{{rankLabel 3}}</td>
    <td class='rank4'>{{rankLabel 4}}</td>
    <td class='rank5'>{{rankLabel 5}}</td>
  </tr>
</table>

            </div>
          </section>


          <section class='resources grid grid-2col key-info-grid'>
            <div class='resource flex-group-center'>
              <label class='resource-label'>{{localize 'MY_RPG.Health.SubCurrent'}}</label>
              <div class='resource-content flexcol'>
                <input
                  type='number'
                  class='key-info-input'
                  name='system.health.value'
                  value='{{system.health.value}}'
                  step='1'
                  inputmode='numeric'
                />
              </div>
            </div>
            <div class='resource flex-group-center'>
              <label class='resource-label'>{{localize 'MY_RPG.Health.SubMax'}}</label>
              <div class='resource-content flexcol'>
                <input
                  type='number'
                  class='key-info-input'
                  name='system.health.max'
                  value='{{system.health.max}}'
                  step='1'
                  inputmode='numeric'
                  readonly
                  tabindex='-1'
                />
              </div>
            </div>
          </section>


          <section class='resources grid grid-3col key-info-grid'>
            <!-- Имя -->
            <div class='resource flex-group-center'>
              <label class='resource-label'>{{localize 'MY_RPG.KeyInfo.Name'}}</label>
              <div class='resource-content flexcol'>
                <input type='text' class='key-info-input' name='name' value='{{actor.name}}'/>
              </div>
            </div>

            <!-- Призвание -->
            <div class='resource flex-group-center'>
              <label class='resource-label'>{{localize 'MY_RPG.KeyInfo.Calling'}}</label>
              <div class='resource-content flexcol'>
                <input type='text' class='key-info-input' name='system.calling' value='{{system.calling}}'/>
              </div>
            </div>

            <!-- Текущий ранг -->
            <div class='resource flex-group-center'>
              <label class='resource-label'>{{localize 'MY_RPG.KeyInfo.CurrentRank'}}</label>
              <div class='resource-content flexcol'>
                <input type='text' class='key-info-input' name='system.currentRank' value='{{system.currentRank}}'/>
              </div>
            </div>

            <div class='resource flex-group-center'>
              <label class='resource-label'>{{localize 'MY_RPG.KeyInfo.MomentOfGlory'}}</label>
              <div class='resource-content flexcol'>
                <input
                  type='number'
                  class='key-info-input'
                  name='system.momentOfGlory'
                  value='{{system.momentOfGlory}}'
                  step='1'
                  inputmode='numeric'
                />
              </div>
            </div>
            <!--    -->
            <!--       (Flux) -->
            <div class='resource flex-group-center'>
              <label class='resource-label'>{{localize 'MY_RPG.Flux.Label'}}</label>
              <div class='resource-content flexcol'>
                <input
                  type='number'
                  class='key-info-input'
                  name='system.flux.value'
                  value='{{system.flux.value}}'
                  step='1'
                  inputmode='numeric'
                  readonly
                  tabindex='-1'
                />
              </div>
            </div>
            <!--          (Speed) -->
            <div class='resource flex-group-center'>
              <label class='resource-label'>{{localize 'MY_RPG.Speed.Label'}}</label>
              <div class='resource-content flexcol'>
                <input
                  type='number'
                  class='key-info-input'
                  name='system.speed.value'
                  value='{{system.speed.value}}'
                  step='1'
                  inputmode='numeric'
                  readonly
                  tabindex='-1'
                />
              </div>
            </div>

            <div class='resource flex-group-center'>
              <label class='resource-label'>
                {{localize 'MY_RPG.Defenses.PhysicalLabel'}}
              </label>
              <div class='resource-content flexcol'>
                <input
                  type='number'
                  class='key-info-input'
                  name='system.defenses.physical'
                  value='{{system.defenses.physical}}'
                  step='1'
                  inputmode='numeric'
                  readonly
                  tabindex='-1'
                />
              </div>
            </div>

            <div class='resource flex-group-center'>
              <label class='resource-label'>
                {{localize 'MY_RPG.Defenses.MagicalLabel'}}
              </label>
              <div class='resource-content flexcol'>
                <input
                  type='number'
                  class='key-info-input'
                  name='system.defenses.azure'
                  value='{{system.defenses.azure}}'
                  step='1'
                  inputmode='numeric'
                  readonly
                  tabindex='-1'
                />
              </div>
            </div>

            <div class='resource flex-group-center'>
              <label class='resource-label'>
{{localize 'MY_RPG.Defenses.PsychicLabel'}}
              </label>
              <div class='resource-content flexcol'>
                <input
                  type='number'
                  class='key-info-input'
                  name='system.defenses.mental'
                  value='{{system.defenses.mental}}'
                  step='1'
                  inputmode='numeric'
                  readonly
                  tabindex='-1'
                />
              </div>
            </div>
          </section>
        </div>
        <!--                sheet-box Key Info -->

        <section class='flexrow'>
          <!--       : 50% -->
          <div class='flexcol col-50'>
            <div class='sheet-box'>
              <h2>{{localize 'MY_RPG.SheetLabels.Skills'}}</h2>
              {{#each system.skills as |skill key|}}
                <div class='skill skill-row'>
                  <!--                                 -->
                  <div class='skill-col skill-ability-abbr'>
                    {{localize (concat 'MY_RPG.abilityAbbreviations.' skill.ability)}}
                  </div>

                  <div
                    class='skill-col skill-name rollable'
                    data-skill='{{key}}'
                    data-label='{{localize (concat "MY_RPG.Skill." (toPascalCase key))}}'
                  >
                    {{localize (concat 'MY_RPG.Skill.' (toPascalCase key))}}
                  </div>

                  <div class='skill-col skill-value'>
                    <input
                      class='{{skill.rankClass}}'
                      type='number'
                      name='system.skills.{{key}}.value'
                      value='{{skill.value}}'
                      step='1'
                      inputmode='numeric'
                      pattern='\d+'
                      min='0'
                    />
                  </div>
                </div>
              {{/each}}
            </div>
          </div>


          <div class='flexcol col-25'>
            <div class='sheet-box limited-height'>
              <h2>{{localize 'MY_RPG.TempBonus.Label'}}</h2>
              <table>
                <tr>
                  <td>{{localize 'MY_RPG.TempHealth.Label'}}</td>
                  <td><input
                      type='number'
                      name='system.temphealth'
                      value='{{system.temphealth}}'
                    /></td>
                </tr>
                <tr>
                  <td>{{localize 'MY_RPG.TempFlux.Label'}}</td>
                  <td><input
                      type='number'
                      name='system.tempflux'
                      value='{{system.tempflux}}'
                    /></td>
                </tr>
                <tr>
                  <td>{{localize 'MY_RPG.Temp.BonusPhysicalLabel'}}</td>
                  <td><input
                      type='number'
                      name='system.tempphys'
                      value='{{system.tempphys}}'
                    /></td>
                </tr>
                <tr>
                  <td>{{localize 'MY_RPG.Temp.BonusMagicalLabel'}}</td>
                  <td><input
                      type='number'
                      name='system.tempazure'
                      value='{{system.tempazure}}'
                    /></td>
                </tr>
                <tr>
                  <td>{{localize 'MY_RPG.Temp.BonusPsychicLabel'}}</td>
                  <td><input
                      type='number'
                      name='system.tempmental'
                      value='{{system.tempmental}}'
                    /></td>
                </tr>
                <tr>
                  <td>{{localize 'MY_RPG.TempSpeed.Label'}}</td>
                  <td><input
                      type='number'
                      name='system.tempspeed'
                      value='{{system.tempspeed}}'
                    /></td>
                </tr>
              </table>
            </div>
          </div>



        </section>

      </div>
      <!--               Features -->

      <div class='tab abilities' data-group='primary' data-tab='abilities'>
        <section class='flux-section'>
          <h1>{{localize 'MY_RPG.SheetLabels.Abilities'}}</h1>
          <div class='resource flex-group-center'>
            <label for='system.flux.value' class='resource-label'>
              {{localize 'MY_RPG.Flux.Label'}}
            </label>
            <div class='resource-content flexcol'>
              <input
                type='number'
                class='key-info-input'
                name='system.flux.value'
                value='{{system.flux.value}}'
                step='1'
                inputmode='numeric'
                readonly
                tabindex='-1'
              />
            </div>
          </div>
        </section>
        <section class='abilities-section'>
          <h2>{{localize 'MY_RPG.AbilitiesTable.TableHeading'}}</h2>
          <table class='abilities-table'>
            <thead>
              <tr>
                <th class='col-name'>{{localize 'MY_RPG.AbilitiesTable.Name'}}</th>
                <th class='col-rank'>{{localize 'MY_RPG.AbilitiesTable.Rank'}}</th>
                <th class='col-effect'>{{localize 'MY_RPG.AbilitiesTable.Effect'}}</th>
                <th class='col-cost'>{{localize 'MY_RPG.AbilitiesTable.Cost'}}</th>
                <th class='col-delete'></th>
              </tr>
            </thead>
            <tbody>
              {{#each system.abilitiesList as |row i|}}
                <tr class='ability-row' data-index='{{i}}'>
                  <td class='col-name'>{{{row.name}}}</td>
                  <td class='col-rank'>{{row.rank}}</td>
                  <td class='col-effect'>{{{row.effect}}}</td>
                  <td class='col-cost'>{{row.cost}}</td>
                  <td class='col-delete'>
                    <a class='abilities-remove-row' data-index='{{i}}'>
                      <i class='fa-solid fa-trash'></i>
                    </a>
                  </td>
                </tr>
              {{/each}}
              <tr class='add-row'>
                <td colspan='5'>
                  <i class='fa-solid fa-plus'></i>
                  {{localize 'MY_RPG.AbilitiesTable.AddRow'}}
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>

      <div class='tab inventory' data-group='primary' data-tab='inventory'>
        <div class='sheet-box limited-height'>
          <h2>{{localize 'MY_RPG.ArmorItem.ArmorSectionTitle'}}</h2>
          <div class='armor-description'>
            <label>{{localize 'MY_RPG.ArmorItem.DescriptionLabel'}}</label>
            <textarea class='rich-editor' name='system.armor.itemDesc' rows='3'>{{system.armor.itemDesc}}</textarea>
          </div>
          <div class='armor-values flexrow'>
            <div class='flexcol'>
              <label>{{localize 'MY_RPG.ArmorItem.BonusSpeedLabel'}}</label>
              <input
                type='number'
                name='system.armor.itemSpeed'
                value='{{system.armor.itemSpeed}}'
                step='1'
                inputmode='numeric'
              />
            </div>
            <div class='flexcol'>
              <label>{{localize 'MY_RPG.ArmorItem.BonusPhysicalLabel'}}</label>
              <input
                type='number'
                name='system.armor.itemPhys'
                value='{{system.armor.itemPhys}}'
                step='1'
                inputmode='numeric'
              />
            </div>
            <div class='flexcol'>
              <label>{{localize 'MY_RPG.ArmorItem.BonusMagicalLabel'}}</label>
              <input
                type='number'
                name='system.armor.itemAzure'
                value='{{system.armor.itemAzure}}'
                step='1'
                inputmode='numeric'
              />
            </div>
            <div class='flexcol'>
              <label>{{localize 'MY_RPG.ArmorItem.BonusPsychicLabel'}}</label>
              <input
                type='number'
                name='system.armor.itemMental'
                value='{{system.armor.itemMental}}'
                step='1'
                inputmode='numeric'
              />
            </div>
            <div class='flexcol'>
              <label>{{localize 'MY_RPG.ArmorItem.ShieldLabel'}}</label>
              <input
                type='number'
                name='system.armor.itemShield'
                value='{{system.armor.itemShield}}'
                step='1'
                inputmode='numeric'
              />
            </div>
          </div>
        </div>
        <div class='sheet-box'>
          <h2>{{localize 'MY_RPG.Inventory.TableHeading'}}</h2>
          <table class='abilities-table'>
            <thead>
              <tr>
                <th class='col-name'>{{localize 'MY_RPG.Inventory.Name'}}</th>
                <th class='col-effect'>{{localize 'MY_RPG.Inventory.Description'}}</th>
                <th class='col-cost'>{{localize 'MY_RPG.Inventory.Quantity'}}</th>
                <th class='col-delete'></th>
              </tr>
            </thead>
            <tbody>
              {{#each system.inventoryList as |item i|}}
                <tr class='inventory-row' data-index='{{i}}'>
                  <td class='col-name'>{{{item.name}}}</td>
                  <td class='col-effect'>{{{item.desc}}}</td>
                  <td class='col-cost'>{{item.quantity}}</td>
                  <td class='col-delete'>
                    <a class='inventory-remove-row' data-index='{{i}}'>
                      <i class='fa-solid fa-trash'></i>
                    </a>
                  </td>
                </tr>
              {{/each}}
              <tr class='add-row'>
                <td colspan='4'>
                  <i class='fa-solid fa-plus'></i>
                  {{localize 'MY_RPG.Inventory.AddRow'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='sheet-box'>
          <h2>{{localize 'MY_RPG.Resources.Title'}}</h2>
          <section class='resources grid grid-2col'>
            <div class='resource flex-group-center'>
              <label class='resource-label'>{{localize 'MY_RPG.Resources.SuppliesLabel'}}</label>
              <input
                type='number'
                name='system.supplies'
                value='{{system.supplies}}'
                step='1'
                inputmode='numeric'
              />
            </div>
            <div class='resource flex-group-center'>
              <label class='resource-label'>{{localize 'MY_RPG.Resources.MoneyLabel'}}</label>
              <input
                type='number'
                name='system.money'
                value='{{system.money}}'
                step='1'
                inputmode='numeric'
              />
            </div>
          </section>
        </div>
      </div>

    </section>
  </div>
</form>
