<form class="{{cssClass}} myrpg item-sheet cartridge-sheet" autocomplete="off">
  <header class="sheet-header item-header">
    <div class="item-image">
      <img
        src="{{item.img}}"
        data-edit="img"
        alt="{{item.name}}"
        title="{{item.name}}"
      />
    </div>
    <div class="item-details">
      <h1 class="sheet-title">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize 'MY_RPG.Inventory.Name'}}"
          {{#unless editable}}disabled{{/unless}}
        />
      </h1>
      <div class="item-meta-grid">
        <div class="item-field">
          <label>{{localize 'MY_RPG.AbilityConfig.Rank'}}</label>
          <select name="system.rank" {{#unless editable}}disabled{{/unless}}>
            {{#each rankOptions}}
              <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
            {{/each}}
          </select>
        </div>
        {{#if showRuneType}}
          <div class="item-field">
            <label>{{localize 'MY_RPG.AbilityConfig.RuneType'}}</label>
            <select name="system.runeType" {{#unless editable}}disabled{{/unless}}>
              {{#each runeTypeOptions}}
                <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
              {{/each}}
            </select>
          </div>
        {{/if}}
      </div>
    </div>
  </header>

  <section class="sheet-body">
    <div class="item-section">
      <div class="item-fields-grid">
        <div class="item-field">
          <label>{{localize 'MY_RPG.AbilityConfig.Skill'}}</label>
          <select name="system.skill" {{#unless editable}}disabled{{/unless}}>
            {{#each skillOptions}}
              <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
            {{/each}}
          </select>
        </div>
        <div class="item-field">
          <label>{{localize 'MY_RPG.AbilityConfig.SkillBonus'}}</label>
          <input
            type="number"
            name="system.skillBonus"
            value="{{system.skillBonus}}"
            {{#unless editable}}disabled{{/unless}}
          />
        </div>
      </div>
    </div>
    <div class="item-section rich-text-field">
      <label>{{localize 'MY_RPG.Inventory.Description'}}</label>
      <textarea
        name="system.description"
        class="description-input"
        data-description-editor
        rows="6"
        {{#unless editable}}disabled{{/unless}}
      >{{{system.description}}}</textarea>
    </div>
  </section>
</form>
