<form class="{{cssClass}} myrpg item-sheet implant-sheet" autocomplete="off">
  <header class="sheet-header">
    <h1 class="sheet-title">
      <input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{localize 'MY_RPG.Inventory.Name'}}"
        {{#unless editable}}disabled{{/unless}}
      />
    </h1>
    <div class="item-meta flexrow">
      <div class="flexcol">
        <label>{{localize 'MY_RPG.ModsTable.Rank'}}</label>
        <select name="system.rank" {{#unless editable}}disabled{{/unless}}>
          {{#each rankOptions}}
            <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
          {{/each}}
        </select>
      </div>
      <div class="flexcol">
        <label>{{localize 'MY_RPG.ModsTable.Cost'}}</label>
        <input
          type="number"
          name="system.cost"
          value="{{system.cost}}"
          {{#unless editable}}disabled{{/unless}}
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize 'MY_RPG.ItemSheet.Fields.Source'}}</label>
      <input
        type="text"
        name="system.source"
        value="{{system.source}}"
        {{#unless editable}}disabled{{/unless}}
      />
    </div>
  </header>

  <section class="sheet-body">
    <div class="form-group">
      <label>{{localize 'MY_RPG.ModsTable.Effect'}}</label>
      {{editor system.effect target="system.effect" button=true owner=owner editable=editable}}
    </div>
    <div class="form-group flexrow">
      <div class="flexcol">
        <label>{{localize 'MY_RPG.AbilityConfig.Upgrade1'}}</label>
        <select name="system.upgrade1" {{#unless editable}}disabled{{/unless}}>
          {{#each upgradeOptions}}
            <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
          {{/each}}
        </select>
      </div>
      <div class="flexcol">
        <label>{{localize 'MY_RPG.AbilityConfig.Upgrade2'}}</label>
        <select name="system.upgrade2" {{#unless editable}}disabled{{/unless}}>
          {{#each upgradeOptionsSecondary}}
            <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>{{localize 'MY_RPG.Inventory.Description'}}</label>
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
